<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Framework stuff -->
  <package id="NAudio" version="1.8.3" targetFramework="net461" />
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net461" />
  <package id="Zenseless" version="0.3.10" targetFramework="net461" />
  <!-- Test stuff -->
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
</packages>
